---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/tadejm/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1379668765'
      Last-Modified:
      - Thu, 19 Sep 2013 16:12:25 GMT
      Etag:
      - '"b98b8aff55f1c0a81112718b2c7f9f20"'
      X-Github-Media-Type:
      - github.beta
    body:
      encoding: UTF-8
      string: '[{"id":4673921,"name":"bundler","full_name":"tadejm/bundler","owner":{"login":"tadejm","id":17839,"avatar_url":"https://1.gravatar.com/avatar/f2a950b6147febd4c8d8c30b769a1754?d=https%3A%2F%2Fidenticons.github.com%2Facf513e9f985ebc190acca290a8a6540.png","gravatar_id":"f2a950b6147febd4c8d8c30b769a1754","url":"https://api.github.com/users/tadejm","html_url":"https://github.com/tadejm","followers_url":"https://api.github.com/users/tadejm/followers","following_url":"https://api.github.com/users/tadejm/following{/other_user}","gists_url":"https://api.github.com/users/tadejm/gists{/gist_id}","starred_url":"https://api.github.com/users/tadejm/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tadejm/subscriptions","organizations_url":"https://api.github.com/users/tadejm/orgs","repos_url":"https://api.github.com/users/tadejm/repos","events_url":"https://api.github.com/users/tadejm/events{/privacy}","received_events_url":"https://api.github.com/users/tadejm/received_events","type":"User"},"private":false,"html_url":"https://github.com/tadejm/bundler","description":"Manage
        your application''s gem dependencies with less pain","fork":true,"url":"https://api.github.com/repos/tadejm/bundler","forks_url":"https://api.github.com/repos/tadejm/bundler/forks","keys_url":"https://api.github.com/repos/tadejm/bundler/keys{/key_id}","collaborators_url":"https://api.github.com/repos/tadejm/bundler/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/tadejm/bundler/teams","hooks_url":"https://api.github.com/repos/tadejm/bundler/hooks","issue_events_url":"https://api.github.com/repos/tadejm/bundler/issues/events{/number}","events_url":"https://api.github.com/repos/tadejm/bundler/events","assignees_url":"https://api.github.com/repos/tadejm/bundler/assignees{/user}","branches_url":"https://api.github.com/repos/tadejm/bundler/branches{/branch}","tags_url":"https://api.github.com/repos/tadejm/bundler/tags","blobs_url":"https://api.github.com/repos/tadejm/bundler/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/tadejm/bundler/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/tadejm/bundler/git/refs{/sha}","trees_url":"https://api.github.com/repos/tadejm/bundler/git/trees{/sha}","statuses_url":"https://api.github.com/repos/tadejm/bundler/statuses/{sha}","languages_url":"https://api.github.com/repos/tadejm/bundler/languages","stargazers_url":"https://api.github.com/repos/tadejm/bundler/stargazers","contributors_url":"https://api.github.com/repos/tadejm/bundler/contributors","subscribers_url":"https://api.github.com/repos/tadejm/bundler/subscribers","subscription_url":"https://api.github.com/repos/tadejm/bundler/subscription","commits_url":"https://api.github.com/repos/tadejm/bundler/commits{/sha}","git_commits_url":"https://api.github.com/repos/tadejm/bundler/git/commits{/sha}","comments_url":"https://api.github.com/repos/tadejm/bundler/comments{/number}","issue_comment_url":"https://api.github.com/repos/tadejm/bundler/issues/comments/{number}","contents_url":"https://api.github.com/repos/tadejm/bundler/contents/{+path}","compare_url":"https://api.github.com/repos/tadejm/bundler/compare/{base}...{head}","merges_url":"https://api.github.com/repos/tadejm/bundler/merges","archive_url":"https://api.github.com/repos/tadejm/bundler/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/tadejm/bundler/downloads","issues_url":"https://api.github.com/repos/tadejm/bundler/issues{/number}","pulls_url":"https://api.github.com/repos/tadejm/bundler/pulls{/number}","milestones_url":"https://api.github.com/repos/tadejm/bundler/milestones{/number}","notifications_url":"https://api.github.com/repos/tadejm/bundler/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/tadejm/bundler/labels{/name}","created_at":"2012-06-15T10:28:18Z","updated_at":"2013-01-09T17:16:20Z","pushed_at":"2012-06-14T19:56:52Z","git_url":"git://github.com/tadejm/bundler.git","ssh_url":"git@github.com:tadejm/bundler.git","clone_url":"https://github.com/tadejm/bundler.git","svn_url":"https://github.com/tadejm/bundler","homepage":"http://gembundler.com","size":108,"watchers_count":1,"language":"Ruby","has_issues":false,"has_downloads":false,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"master_branch":"master","default_branch":"master"},{"id":1591084,"name":"Enomarket","full_name":"tadejm/Enomarket","owner":{"login":"tadejm","id":17839,"avatar_url":"https://1.gravatar.com/avatar/f2a950b6147febd4c8d8c30b769a1754?d=https%3A%2F%2Fidenticons.github.com%2Facf513e9f985ebc190acca290a8a6540.png","gravatar_id":"f2a950b6147febd4c8d8c30b769a1754","url":"https://api.github.com/users/tadejm","html_url":"https://github.com/tadejm","followers_url":"https://api.github.com/users/tadejm/followers","following_url":"https://api.github.co[...]
